* {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
}

table {
    border-collapse: collapse;
}

th {
    font-weight: bold;
    padding: 4px 5px;
    text-align: left;

    border-bottom: 2px solid gray;
    border-top: 2px solid gray;

    
}

tr {
    &.selectable {
        cursor: pointer;

        &.selected {
            background-color: rgb(223, 234, 255);
            font-weight: bold;
        }
    }
}

td {
    border-bottom: 1px solid lightgray;
    padding: 3px 5px;

    &.selector {
        text-align: center;

        input[type=checkbox] {
            display: block;
            margin-bottom: 6px;
        }

        fa-icon {
            cursor: move;
        }
    }

    &.info {
        width: 80%;
    }

    &.status {
        width: 100%;
    }

    &.actions {
        min-width: 70px;
        fa-icon {
            padding: 4px;
            cursor: pointer;

            &:hover {
                color: blue;
            }
        }
    }
}