<div class="settings_container">
    <table>
        <thead>
            <th></th><th>Name</th><th></th><th>Actions</th>
        </thead>
        <tbody>
            <tr *ngFor="let volume of this.volume_service.server_volumes; index as i">
                <td class="selector">
                    <input type="checkbox" name="" id="">
                    <fa-icon [icon]="faHandle"></fa-icon>
                </td>
                <td class="info">{{volume.name}}<br>{{volume.host_path}}</td>
                <td class="status"></td>
                <td class="actions">
                    <fa-icon [icon]="faEditIcon" (click)="this.modal_service.editVolume(volume)"></fa-icon>
                    <fa-icon [icon]="faDeleteIcon" (click)="this.deleteVolume(volume)"></fa-icon>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="button_controls">
        <input type="button" value=" +  Add Volume" class="octo-btn" id="btn_add" (click)="addVolume()">
    </div>
    
</div>

<!-- Display Edit modal on top of other content -->
<div class="modal_content_cover" *ngIf="this.modal_service.volume_edit_open">
    <app-settings-volume-edit-modal></app-settings-volume-edit-modal>
</div>