@import "../settings_global.scss";

/* Content cover for when modal open */
.modal_content_cover {
    position: fixed;
    top: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(255, 255, 255, 0.7);

    :first-child {
        position: fixed;
        top: 20%;
        left: 20%;
        width: 60%;
        max-height: 60%;
    }
}

.button_controls {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    #btn_add {
        margin: 15px;
    }
}