div.modal_container {
    min-width: 500px;
}

table {
    width: 100%;
}

#refresh_icon {
    cursor: pointer;
    &:hover {
        color: blueviolet;
    }
}

td.new::before {
    content: "\22C6";
    background-color: #4c61d85b;
    border-radius: 50%;
    display: inline-block;
    margin-right: 4px;
    font-size: 20px;
    height: 20px;
    width: 20px;
    text-align: center;
    line-height: 20px;

}