<div class="modal_container">
    <div class="modal_title"><div>Select Serial Port</div> <button class="close" (click)="this.modal_service.closeSerialPicker(undefined)">x</button></div>
    <div class="modal_main">
        <label for="by_path_mode">Use 'by-path' Mode:</label><input name="by_path_mode" type="checkbox" [(ngModel)]="this.by_path_mode" (change)="this.refreshSerialPorts()">
        <table>
            <th>Available Serial Ports:  <fa-icon [icon]="faRefresh" [fixedWidth]="true" id="refresh_icon" (click)="this.refreshSerialPorts(true)"></fa-icon></th>
            <tbody>
                <tr *ngFor="let serial_port of this.available_serial_ports" class="serial_port selectable" [class.selected]="this.selected_serial_port?.full_path == serial_port.full_path" (click)="this.selected_serial_port = serial_port"><td [class.new]="(this.new_serial_ports.includes(serial_port))">{{ serial_port.full_path }}</td></tr>
            </tbody>
        </table>
    </div>

    <div class="modal_footer">
        <input class="octo-btn" type="button" value="Cancel" (click)="this.modal_service.closeSerialPicker(undefined)">
        <input class="octo-btn octo-btn-primary" type="button" value="Save" (click)="this.modal_service.closeSerialPicker(this.selected_serial_port)">
    </div>

    
    
</div>