<div class="outer" (click)="on_click()">
   <div class="inner">
      <!-- Tentacle image - Created with Inkscape (http://www.inkscape.org/) -->
      <svg id="tentacle_1" width="100%" viewBox="0 0 12.996727 13.109291">
         <defs>
            <!-- Add coloured shadow -->
            <filter style="color-interpolation-filters:sRGB" x="-0.30012229" y="-0.32945868" width="1.6252548" height="1.7995701" id="dropshadow{{colour}}"> <!-- Have to create unique filter IDs since no encapsulation on SVG filters-->
               <feFlood flood-opacity="0.890196" [attr.flood-color]="colour" result="flood" />
               <feComposite in="flood" in2="SourceGraphic" operator="in" result="composite1" />
               <feGaussianBlur in="composite1" stdDeviation="1" result="blur" />
               <feOffset dx="0.2" dy="1.02461" result="offset" />
               <feComposite in="SourceGraphic" in2="offset" operator="over" result="composite2" />
         </filter>
         </defs>

         <g transform="translate(-122.192,-125.02764)">
            <g transform="translate(-962.8667,-226.9116)">
               <path [style.fill]="colour" style="fill-opacity:1;stroke-width:0.0312871;filter:url(#dropshadow{{colour}})"
               d="m 1088.1586,361.58311 c -0.053,-0.0638 -0.3089,-0.74427 -0.4289,-1.13975 -0.2759,-0.91076 -0.3465,-2.03715 -0.1871,-2.99606 0.097,-0.58421 0.5124,-1.28229 1.0626,-1.78587 1.0558,-0.96631 2.0945,-1.37137 3.3778,-1.31747 0.8627,0.0363 1.5878,0.28262 2.2718,0.77182 0.3187,0.2281 0.3497,0.25702 0.6188,0.57947 0.2644,0.31648 0.4139,0.6019 0.5073,0.96879 0.061,0.23633 0.096,0.65093 0.06,0.68763 -0.012,0.009 -0.1378,-0.10078 -0.2853,-0.24468 -0.4173,-0.40706 -0.8723,-0.689 -1.3935,-0.86324 -0.3659,-0.12243 -0.6345,-0.1617 -1.1025,-0.16133 -0.3519,3e-4 -0.4204,0.01 -0.6864,0.097 -1.0966,0.35891 -1.6379,1.08862 -1.423,1.91809 0.08,0.31066 0.238,0.59114 0.8119,1.44595 0.3595,0.53532 0.4714,0.71753 0.712,1.15977 0.1913,0.35159 0.398,0.80593 0.398,0.87538 0,0.0393 -0.2904,0.0453 -2.1394,0.0453 -1.7256,0 -2.1459,-0.007 -2.1733,-0.0411 z m 3.2168,-0.0137 -1.049,-0.009 -0.09,-0.24206 c -0.049,-0.13313 -0.1984,-0.47437 -0.3324,-0.75829 -0.2856,-0.60526 -0.3788,-0.85738 -0.4516,-1.22019 -0.03,-0.14627 -0.061,-0.30114 -0.068,-0.34415 -0.012,-0.0429 -0.015,-0.25421 -0.014,-0.46929 0.013,-0.89876 0.2915,-1.66054 0.829,-2.21551 0.4018,-0.41487 1.4092,-0.90194 1.8808,-0.90934 0.6547,-0.01 0.8033,0.007 1.2671,0.15192 0.3728,0.11596 0.7004,0.30729 0.9971,0.58207 0.2027,0.18771 0.4735,0.50837 0.4735,0.56074 0,0.01 -0.06,-0.0222 -0.1331,-0.0715 -0.1627,-0.11012 -0.2392,-0.15333 -0.1955,-0.11037 0.048,0.0473 0.5433,0.39558 0.6268,0.44087 0.041,0.0221 0.1182,0.0924 0.1729,0.15644 l 0.1,0.11634 -0.016,-0.22385 c -0.021,-0.27893 -0.1782,-0.75794 -0.3162,-0.96505 -0.4346,-0.65259 -1.1607,-1.18823 -1.9421,-1.4325 -0.4958,-0.15499 -0.7477,-0.19201 -1.3141,-0.19307 -0.5886,-5.4e-4 -0.8442,0.0339 -1.2955,0.17722 -0.6889,0.21883 -1.2579,0.56381 -1.8713,1.1345 -0.3424,0.3186 -0.6012,0.66916 -0.8061,1.092 -0.239,0.4935 -0.2797,0.74594 -0.2806,1.74044 0,0.66224 0.013,0.81547 0.067,1.12633 0.085,0.44101 0.2135,0.8817 0.4237,1.4466 l 0.1599,0.42979 1.0657,0.009 c 0.5861,0.004 1.5373,0.009 2.1137,0.009 l 1.048,10e-6 z m 3.5519,-4.83384 c -0.062,-0.0732 -0.1298,-0.16114 -0.1485,-0.19554 -0.058,-0.109 0.055,0.002 0.1793,0.17553 0.1354,0.18832 0.122,0.19716 -0.031,0.02 z m -0.2682,-0.35981 -0.076,-0.086 0.086,0.0758 c 0.08,0.0709 0.1008,0.0962 0.076,0.0962 -0.013,0 -0.044,-0.0387 -0.086,-0.086 z m -0.4514,-0.43343 c -0.052,-0.0435 -0.1683,-0.12218 -0.2595,-0.17474 -0.091,-0.0526 -0.1591,-0.10215 -0.1511,-0.11011 0.022,-0.0216 0.2677,0.13114 0.4106,0.25534 0.069,0.0597 0.1182,0.10874 0.1095,0.10874 -0.012,3e-5 -0.057,-0.0355 -0.1095,-0.0791 z m -0.485,-0.30964 c 0,-0.009 0.013,-0.0155 0.015,-0.0155 0.012,0 0.015,0.007 0.015,0.0155 0,0.009 -0.012,0.0156 -0.015,0.0156 -0.013,0 -0.015,-0.007 -0.015,-0.0156 z m -0.062,-0.0312 c 0,-0.009 0.013,-0.0155 0.015,-0.0155 0.012,0 0.015,0.007 0.015,0.0155 0,0.009 -0.012,0.0156 -0.015,0.0156 -0.013,0 -0.015,-0.007 -0.015,-0.0156 z m -0.4223,-0.13181 c -0.034,-0.009 -0.077,-0.0294 -0.094,-0.0468 -0.039,-0.0397 0.1107,4e-4 0.1549,0.0414 0.016,0.0153 0.024,0.026 0.015,0.0243 -0.012,-7.3e-4 -0.042,-0.01 -0.077,-0.0185 z m -0.6101,-0.13412 c -0.039,-0.0245 -0.032,-0.0304 0.024,-0.0309 0.039,-2.6e-4 0.07,0.0137 0.07,0.0309 0,0.0392 -0.034,0.0392 -0.095,0 z m 0.2295,0.01 c 0.013,-0.0112 0.03,-0.0112 0.041,0 0.012,0.0112 0,0.0208 -0.021,0.0208 -0.022,0 -0.034,-0.009 -0.021,-0.0208 z m -0.4759,6.10065 c -0.037,-0.0634 -0.045,-0.0432 -0.015,0.0355 0.012,0.0279 0.026,0.0442 0.035,0.0363 0.013,-0.007 -3e-4,-0.0403 -0.019,-0.0718 z m -0.095,-0.2184 c -0.035,-0.0661 -0.065,-0.11023 -0.065,-0.0978 0,0.0361 0.102,0.24398 0.1157,0.23044 0.012,-0.007 -0.016,-0.0664 -0.052,-0.13257 z m -0.067,-0.15155 c 0,-0.009 -0.013,-0.0156 -0.015,-0.0156 -0.012,0 -0.015,0.007 -0.015,0.0156 0,0.009 0.013,0.0156 0.015,0.0156 0.013,0 0.015,-0.007 0.015,-0.0156 z m -0.031,-0.0625 c 0,-0.009 -0.013,-0.0156 -0.015,-0.0156 -0.012,0 -0.015,0.007 -0.015,0.0156 0,0.009 0.012,0.0156 0.015,0.0156 0.013,0 0.015,-0.007 0.015,-0.0156 z m -0.1095,-0.20336 c -0.042,-0.086 -0.086,-0.15642 -0.095,-0.15642 -0.012,0 0.019,0.0703 0.063,0.15642 0.043,0.086 0.086,0.15642 0.095,0.15642 0.013,0 -0.019,-0.0703 -0.063,-0.15642 z m -0.1095,-0.20335 c 0,-0.009 -0.013,-0.0157 -0.015,-0.0157 -0.012,0 -0.015,0.007 -0.015,0.0157 0,0.009 0.013,0.0155 0.015,0.0155 0.012,0 0.015,-0.007 0.015,-0.0155 z m -0.078,-0.14081 c -0.026,-0.0515 -0.055,-0.0938 -0.063,-0.0938 -0.012,0 0.012,0.0423 0.032,0.0938 0.026,0.0516 0.055,0.0938 0.063,0.0938 0.012,0 -0.013,-0.0423 -0.034,-0.0938 z m -0.1132,-0.19554 c -0.056,-0.10738 -0.3795,-0.58661 -0.3962,-0.58661 -0.016,0 0.062,0.12655 0.1638,0.26592 0.038,0.0516 0.1082,0.16076 0.1554,0.24246 0.087,0.14986 0.1452,0.20887 0.077,0.0783 z m -0.4229,-0.65701 c -0.1058,-0.17811 -0.4707,-0.68171 -0.4024,-0.55534 0.045,0.0826 0.4006,0.59443 0.4134,0.59443 0.012,0 0,-0.0175 -0.012,-0.0391 z m -0.4498,-0.6805 c -0.019,-0.0345 -0.04,-0.0626 -0.05,-0.0626 -0.012,0 -4e-4,0.0282 0.019,0.0626 0.019,0.0345 0.04,0.0626 0.048,0.0626 0.012,0 5e-4,-0.0283 -0.019,-0.0626 z m -0.1277,-0.21118 c -0.039,-0.0645 -0.085,-0.1314 -0.1,-0.14862 -0.035,-0.0357 0.027,0.0901 0.095,0.19555 0.076,0.11721 0.08,0.0789 0.012,-0.0469 z m -0.1231,-0.21121 c 0,-0.009 -0.013,-0.0156 -0.015,-0.0156 -0.012,0 -0.015,0.007 -0.015,0.0156 0,0.009 0.012,0.0156 0.015,0.0156 0.013,0 0.015,-0.007 0.015,-0.0156 z m -0.112,-0.28156 c -0.041,-0.12044 -0.075,-0.1949 -0.076,-0.16542 0,0.0585 0.1244,0.41058 0.1403,0.3944 0.013,-0.005 -0.024,-0.10849 -0.065,-0.22898 z m -0.086,-0.38326 c -0.012,-0.03 -0.014,-0.005 -0.014,0.0548 0,0.0602 0.013,0.0849 0.014,0.0547 0.012,-0.0301 0.012,-0.0794 0,-0.10949 z m 0,-0.31287 c -0.012,-0.0301 -0.014,-0.005 -0.014,0.0547 0,0.0602 0.013,0.0849 0.014,0.0547 0.012,-0.03 0.012,-0.0794 0,-0.10949 z m 0.031,-0.13885 c -0.012,-0.0249 -0.017,-0.0175 -0.02,0.0189 0,0.033 0.013,0.0515 0.017,0.0411 0.013,-0.01 0.013,-0.0374 0,-0.06 z m 0.031,-0.10887 c -0.012,-0.0112 -0.021,-0.002 -0.021,0.0208 0,0.023 0.012,0.0324 0.021,0.0208 0.013,-0.0112 0.013,-0.0301 0,-0.0417 z m 0.041,-0.0575 c 0,-0.009 -0.012,-0.0156 -0.015,-0.0156 -0.013,0 -0.015,0.007 -0.015,0.0156 0,0.009 0.012,0.0156 0.015,0.0156 0.012,0 0.015,-0.007 0.015,-0.0156 z m 0.043,-0.0956 c 0.012,-0.0279 0.012,-0.0404 -0.012,-0.0294 -0.017,0.0112 -0.031,0.0324 -0.031,0.0487 0,0.0452 0.022,0.0351 0.042,-0.0192 z m 0.3148,-0.40692 c 0.087,-0.087 0.2005,-0.18987 0.2522,-0.22854 0.077,-0.0574 0.078,-0.0633 0.015,-0.0324 -0.044,0.0209 -0.1711,0.13081 -0.2845,0.24422 -0.1132,0.11335 -0.2232,0.24136 -0.2442,0.28439 -0.031,0.0638 -0.026,0.0608 0.034,-0.0156 0.039,-0.0516 0.1415,-0.16505 0.2286,-0.25209 z m 3.5215,-0.24805 c 0,-0.019 -0.3646,-0.20435 -0.3979,-0.20228 -0.014,5.3e-4 0.068,0.0494 0.1791,0.108 0.2263,0.11845 0.2188,0.11533 0.2188,0.0943 z m -2.7666,-0.25899 c -0.014,-0.0141 -0.3932,0.17517 -0.3932,0.19613 0,0.009 0.091,-0.03 0.2023,-0.0848 0.1108,-0.0549 0.1972,-0.10489 0.1909,-0.11123 z m 2.2973,0.0239 c -0.026,-0.0165 -0.062,-0.0304 -0.08,-0.0304 -0.017,0 -0.013,0.0137 0.015,0.0304 0.026,0.0167 0.062,0.0303 0.078,0.0303 0.017,0 0.012,-0.0137 -0.015,-0.0303 z m -2.1587,-0.0626 c 0.026,-0.0165 0.032,-0.0304 0.015,-0.0304 -0.017,0 -0.052,0.0137 -0.078,0.0304 -0.026,0.0167 -0.032,0.0305 -0.015,0.0305 0.017,0 0.052,-0.0137 0.078,-0.0305 z m 2.0232,0.01 c -0.012,-0.0112 -0.03,-0.0112 -0.041,0 -0.013,0.0112 0,0.0208 0.021,0.0208 0.022,0 0.034,-0.009 0.021,-0.0208 z m -0.094,-0.0312 c -0.013,-0.0112 -0.03,-0.0112 -0.041,0 -0.012,0.0112 0,0.0208 0.021,0.0208 0.022,0 0.032,-0.009 0.021,-0.0208 z m -1.8146,-0.0312 c -0.012,-0.0112 -0.03,-0.0112 -0.041,0 -0.012,0.0112 0,0.0208 0.021,0.0208 0.022,0 0.034,-0.009 0.021,-0.0208 z m 1.7226,7.3e-4 c -0.012,-0.01 -0.037,-0.0112 -0.061,-0.002 -0.025,0.01 -0.017,0.0174 0.019,0.0189 0.032,7.4e-4 0.051,-0.007 0.041,-0.0165 z m -1.5402,-0.0437 c 0.039,-0.0169 0.046,-0.027 0.015,-0.027 -0.026,0 -0.075,0.0124 -0.1095,0.027 -0.038,0.017 -0.045,0.027 -0.015,0.027 0.026,0 0.075,-0.0124 0.1095,-0.027 z m 1.4152,0.0124 c -0.013,-0.01 -0.039,-0.0112 -0.061,-0.002 -0.025,0.01 -0.017,0.0174 0.019,0.019 0.032,7.4e-4 0.051,-0.007 0.041,-0.0165 z m -0.1403,-0.0331 c -0.022,-0.009 -0.056,-0.009 -0.078,0 -0.022,0.009 -0.013,0.0158 0.038,0.0158 0.044,0 0.061,-0.007 0.039,-0.0158 z m -1.048,-0.0321 c -0.03,-0.007 -0.078,-0.007 -0.1094,0 -0.03,0.007 -0.013,0.0143 0.055,0.0143 0.061,0 0.083,-0.007 0.055,-0.0143 z m 0.8765,8e-5 c -0.03,-0.007 -0.086,-0.009 -0.1252,-4.6e-4 -0.039,0.007 -0.014,0.0137 0.055,0.0142 0.069,3.5e-4 0.1008,-0.006 0.071,-0.0136 z m -0.3595,-0.0326 c -0.072,-0.007 -0.1992,-0.007 -0.2814,-1.8e-4 -0.082,0.007 -0.022,0.0112 0.132,0.0125 0.1548,8e-5 0.2221,-0.005 0.1494,-0.0112 z"
               />
         </g>
         </g>
      </svg>
      <div class="initial" [style.color]="colour">
         {{initial}}
      </div>
   </div>

</div>