.outer {
    border-radius: 7px;
    border: 1px rgb(194, 194, 194) solid;
    box-shadow: 2px 4px 2px rgb(197, 197, 197);

    transition-duration: 0.3s;
    cursor: pointer;

    min-height: 75px;

    display: flex;
    align-items: flex-end;

    &:hover {
        transform: translateX(-4px);
    }
}

.inner {
    position: relative;
}

.initial {
    position: absolute;
    right: 15%;
    bottom: 25%;

    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}