#settings_header {
    font-size: 32px;

    box-shadow: 0px 1px 3px lightgray;

    padding: 6px;
    padding-left: 50px;
}

.settings_container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.settings_main_content {
    flex-grow: 1;
}