<div class="settings_container">
    <div id="settings_header">
        OctoPrint Multi-Instance: Settings
    </div>
    <app-settings-tabs [selected_tab]="'printers'" [available_tabs]='[{"id": "printers", "name": "Printers", "router_link": "/settings/printers"}, {"id": "docker_settings", "name": "Reusable Volumes", "router_link": "/settings/docker_settings"}]'></app-settings-tabs>
    <div class="settings_main_content">
        <router-outlet></router-outlet>
    </div>
    
</div>

