<div class="modal_container">
    <div class="modal_title"><div>Edit Volume</div> <button class="close" (click)="modal_service.editVolumeClose()">x</button></div>
    <div class="modal_main">
        <form [formGroup]="volumeReactiveForm">
            <div class="settings_row">
                <div class="settings_group"><label for="name">Name:</label><input type="text" [formControlName]="'name'"></div>
            </div>
            <div class="settings_row">
                <div class="settings_group"><label for="address">Container Path:</label><input type="text" [formControlName]="'container_path'"></div>
            </div>
            <div class="settings_row">
                <div class="settings_group"><label for="host_path">Host Path:</label><input type="text" [formControlName]="'host_path'"></div>
            </div>
            
        </form>
    </div>  

    <div class="modal_footer">
        <input class="octo-btn" type="button" value="Cancel" (click)="modal_service.editVolumeClose()">
        <input class="octo-btn octo-btn-primary" type="button" value="Save" (click)="saveClick()">
    </div>
</div>

<!-- Serial Port Picker handled via service. Selected serial port returned via subscription to open method. -->
<app-serial-modal *ngIf="this.modal_service.serial_picker_open"></app-serial-modal>