<div class="modal_container">
    <div class="modal_title"><div>Edit Printer</div> <button class="close" (click)="modal_service.editPrinterClose()">x</button></div>
    <div class="modal_main">
        <form [formGroup]="printerReactiveForm">
            <div class="settings_row">
                <div class="settings_group"><label for="name">Name:</label><input type="text" [formControlName]="'name'"></div>
                <div class="settings_group"><label for="initial">Initial:</label><input type="text" maxlength=2 id="inp_initial" [formControlName]="'initial'"></div>
            </div>
            <div class="settings_row">
                <div class="settings_group">
                    <label for="colour">Colour:</label>
                    <select name="" id="" [formControlName]="'colour'">
                        <option value="default">default</option>
                        <option value="blue">blue</option>
                        <option value="green">green</option>
                        <option value="orange">orange</option>
                        <option value="red">red</option>
                        <option value="yellow">yellow</option>
                        <option value="violet">violet</option>
                    </select>
                </div>
                
            </div>
            <div class="settings_row">
                <div class="settings_group"><label for="address">Address:</label><input type="text" [formControlName]="'octoprint_hostname'"></div>
                <div class="settings_group"><label for="port">Port:</label><input type="text" name="" id="inp_port" [formControlName]="'octoprint_port'"></div>
            </div>
            <div class="settings_row">
                <div class="settings_group"><label for="managed">Enable Management:</label><input type="checkbox" name="" id="" [formControlName]="'is_managed'"></div>
            </div>
            <div class="managed_only_settings" *ngIf="this.printerReactiveForm.get('is_managed')?.value">
                <hr>
                <div class="settings_row">
                    <div class="settings_group"><label for="input_serial_port">Serial Port:</label><input type="text" id="inp_serial_port" name="input_serial_port" (click)="this.serialOpen()" [formControlName]="'serial_port_path'" readonly></div>
                </div>
                <div class="settings_row">
                    <div class="settings_group">
                        <label for="">Automatic Configuration Mode:</label>
                        <select name="" id="" [formControlName]="'automatic_theme_mode'">
                            <option value="0">None</option>
                            <option value="1">Essentials</option>
                            <option value="2">Essentials & Theme</option>
                        </select>
                    </div>  
                </div>
                <div class="settings_row">
                    <div class="settings_group vertical">
                        <label for="">Additional Volumes:</label>
                        <label class="hint">Hold Ctrl to select multiple or deselect.</label>
                        <select name="" id="" [formControlName]="'volumes'" multiple>
                            <option *ngFor="let volume of this.volume_service.server_volumes" [selected]="(this.printerReactiveForm.get('volumes')?.value).includes(volume.id)" [class.option_selected]="(this.printerReactiveForm.get('volumes')?.value).includes(volume.id)" [ngValue]="volume.id">{{volume.name}}</option>
                        </select>
                    </div>  
                </div>
            </div>
            
        </form>
        <div class="modal_error_text" *ngIf="!this.printerReactiveForm.valid && this.errorResponseText">Error: {{errorResponseText}}</div>
    </div>  

    <div class="modal_footer">
        <input class="octo-btn" type="button" value="Cancel" (click)="modal_service.editPrinterClose()">
        <input class="octo-btn octo-btn-primary" type="button" value="Save" (click)="saveClick()" [disabled]="!this.printerReactiveForm.valid">
    </div>
</div>

<!-- Serial Port Picker handled via service. Selected serial port returned via subscription to open method. -->
<app-serial-modal *ngIf="this.modal_service.serial_picker_open"></app-serial-modal>