input#inp_initial {
    width: 35px;
}

input#inp_port {
    width: 60px;
}

input#inp_serial_port {
    cursor: pointer;
}

app-serial-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}