/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
}

/* OctoPrint lookalike buttons */
.octo-btn {
    color: #fff;
    border: 1px solid #bbb;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    border-radius: 4px;

    padding: 4px 12px;
    font-size: 14px;
    line-height: 20px;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);

    cursor: pointer;

    &.octo-btn-primary {
        background-color: #006dcc;
    }

    &:disabled {
        pointer-events: none;
        background-color: rgb(209, 209, 209);
    }

    &:not(.octo-btn-primary) {
        color: #333;
    }
}

/* OctoPrint lookalike inputs */
input[type="text"] {
    height: 20px;
    padding: 4px 6px;
    font-size: 14px;
    color: #555;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}

select[multiple] {
    border-radius: 4px;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);

    min-width: 100px;

    .option_selected {
        &::before {
            content: "\002714";
            color: green;
            margin-right: 5px;
        }
        background-color: transparent;
    }

    option {
        padding: 5px;
    }
}