.settings_container {
    margin: 30px 10%;
    padding: 15px;

    border: 0.7px solid rgb(218, 218, 218);
    border-radius: 5px;

    h2 {
        font-size: 20px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin: 0 0 2px 0;
    }

    p {
        font-size: 13px;
        margin: 0 0 5px 3px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
}

.settings_row {
    display: flex;
    margin-top: 9px;

    .settings_group {
        display: flex;
        align-items: center;
        margin-right: 5%;

        &.vertical {
            flex-direction: column;
            align-items: flex-start;

            .error_container { // Ensure error containers extend entire width but only in vertical mode
                width: 100%;
            }
        }

        label {
            display: block;
            margin-right: 13px;

            &.hint {
                font-size: 10px;
                color: gray;
            }
        }

        .error_container { // Contains other elements needed in order to add ::after
            position: relative;

            &.separateicon { // Indicates that error icon provided separately in HTML
                .error_indicator {
                    position: absolute;
                    right: 16px;
                }
            }

            /* Indicators of invalid input value */
            &.invalid {
                &:not(.separateicon)::after {
                    content: "\0026A0";
                    font-size: 20px;
                    color: #800033;
                    position: absolute;
                    top: 0px;
                    right: 2px;
                }

                input[type="text"], textarea {
                    border-left: 7px solid #b22141;
                }
            }
        }
    }
}

/* Used to notify when unsaved settings require attention */
.save_dialogue {
    display: flex;
    padding: 8px 15px;
    margin: 13px 5px;

    background-color: rgba(212, 194, 110, 0.315);
    border-radius: 5px;
    border: rgb(172, 149, 49) solid 1px;
    align-items: center;

    p {
        font-size: 16px;
    }

    fa-icon {
        font-size: 20px;
        margin-right: 5px;
    }

    app-save-button {
        margin-left: auto;
    }
}

/* Indicator icon with associated tooltip*/
.error_indicator {
    display: inline;
    position: relative;
    color: #b22141;
    cursor:default;

    /* Definition for tooltip text */
    span {
        visibility: hidden;
        width: 1000%;
        background-color: #800033;
        color: white;
        font-size: 12px;
        text-align: center;
        padding: 5px;
        border-radius: 6px;
      
        /* Position the tooltip text */
        position: absolute;
        z-index: 10;
        bottom: 125%;
        left: -50%;
      
        /* Fade in tooltip */
        opacity: 0;
        transition: opacity 0.3s;
      }
      
      /* Tooltip arrow */
      span::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 10%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #800033 transparent transparent transparent;
      }
      
      /* Show the tooltip text when you mouse over the tooltip container */
      &:hover span {
        visibility: visible;
        opacity: 1;
      }
}