$bottom_width: 84px;
$top_width: 120px;

#sidebar_component_bounding {
    width: 84px;
}

#sidebar_outer {
    background-color: lightgrey;
    box-sizing: border-box;
    height: 100vh;
    width: $top_width;

    display: flex;
    flex-direction: column;

    /* Create a slant on sidebar side */
    clip-path: polygon(
    0 0, /* left top */
    100% 0, /* right top */ 
    $bottom_width 100%, /* right bottom */
    0 100% /* left bottom */
    );

    padding-right: calc($top_width - $bottom_width);
    
}

#sidebar_logo {
    box-sizing: border-box;
    width: 100%;

    padding: 15px;
    padding-right: 0;

    cursor: pointer;
}

#printers_container {
    margin-left: 25px;

    app-printer-chip {
        display: block;
        margin-bottom: 13px;
    }
}

#sidebar_controls {
    margin-top: auto;
    padding: 10px 10px;
    text-align: center;

    fa-icon {
        display: inline-block;
        font-size: 40px;

        cursor: pointer;
        transition-duration: 0.3s;

        &:hover {
            color: #800033;
        }

        &:active {
            transform: rotate(25deg);
        }
    }
}