<div id="sidebar_component_bounding"> <!-- Used so that the overall component bounding box is only the size of the bottom of the slant-->
    <div id="sidebar_outer">
        <div class="title">
            <img src="assets/logo_compressed.png" alt="OctoPrint Multi-Instance Compressed Logo" id="sidebar_logo" [routerLink]="''">
        </div>

        <div id="printers_container">
            <!-- Create a printer chip for each of the installed printers -->
            <app-printer-chip *ngFor="let printer of printer_service.server_printers;" colour="{{ printer.colour }}" initial="{{ printer.initial }}" octo_url="{{ 'http://'+printer.octoprint_hostname+':'+printer.octoprint_port }}"></app-printer-chip>
        </div>

        <div id="sidebar_controls">
            <fa-icon [icon]="faGear" [fixedWidth]="true" routerLink="settings"></fa-icon>
        </div>
    </div>
</div>
