<div class="settings_container">
    <form [formGroup]="printerReactiveForm">
        <table>
            <thead>
                <th></th><th>Name</th><th></th><th>Actions</th>
            </thead>
            <tbody>
                <tr *ngFor="let printer of this.printer_service.server_printers; index as i">
                    <td class="selector">
                        <input type="checkbox" name="" id="">
                        <fa-icon [icon]="faHandle"></fa-icon>
                    </td>
                    <td class="info">{{printer.name}}<fa-icon *ngIf="printer.is_managed" [icon]="faManaged" title="This instance is managed by OPMI."></fa-icon><br>{{printer.octoprint_hostname}}:{{printer.octoprint_port}}</td>
                    <td class="status"><fa-icon [icon]="faError"></fa-icon></td>
                    <td class="actions">
                        <fa-icon [icon]="faEdit" (click)="this.modal_service.editPrinter(printer)"></fa-icon>
                        <fa-icon [icon]="faReset" (click)="this.recreatePrinter(printer)" *ngIf="printer.is_managed"></fa-icon>
                        <fa-icon [icon]="faDeleteIcon" (click)="this.deletePrinter(printer)"></fa-icon>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>

    <div class="button_controls">
        <input type="button" value=" +  Add Printer" class="octo-btn" id="btn_add" (click)="addPrinter()">
    </div>
    
</div>

<!-- Display SerialPort selector modal on top of other content -->
<div class="modal_content_cover" *ngIf="this.modal_service.printer_edit_open">
    <app-settings-printer-edit-modal></app-settings-printer-edit-modal>
</div>

<ngx-spinner type="ball-scale"></ngx-spinner>