<div id="tab_bar">
    <div *ngFor="let tab of this.available_tabs" class="tab" [id]="tab['id']" (click)="this.selected_tab = tab['id']" [class.active]="(this.selected_tab == tab['id'])" [routerLink]="[tab['router_link']]">{{ tab['name'] }}</div>
</div>