#tab_bar {
    display: flex;
    background-color: rgba(238, 238, 238, 0.226);
    border-bottom: #b22141 3px solid;

    padding-left: 50px;
}

.tab {
    padding: 7px 18px;
    margin: 9px 12px 0 12px;
    border-radius: 8px 8px 0 0;

    cursor: pointer;
    
    &.active {
        background-color: #b22141;
    }

    &:hover:not(.active) {
        background-color: rgb(235, 235, 235);
    }
}