.modal_container {
    background-color: #ffffff;

    border-radius: 6px;
    border: solid rgba(0,0,0,0.3) 1px;
    box-shadow: 0 3px 7px rgba(0,0,0,0.3);

    width: 100%;
    height: 100%;

    .modal_title {
        padding: 9px 15px;
        display: flex;
        justify-content: space-between;

        border-bottom: solid #eee 1px;
        div {
            color: #333;
            font-size: 24.5px;
            font-weight: bold;
        }

        .close {
            display: flex;
            justify-content: center;
            padding: 0;
            opacity: .2;
            border: none;
            background: transparent;

            font-size: 20px;
            font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
            color: #000;
            text-shadow: 0 1px 0 #fff;
            
            cursor: pointer;
        }
    }

    .modal_main {
        padding: 10px 20px;

        input.ng-invalid {
            background-color: rgb(255, 200, 200);
            border: red solid 1px;
        }

        .modal_error_text {
            color: rgb(192, 5, 5);
            margin-top: 5px;

        }
    }

    .modal_footer {
        padding: 14px 15px 15px;
        background-color: #f5f5f5;
        border-top: 1px solid #ddd;
        border-radius: 0 0 6px 6px;
        box-shadow: inset 0 1px 0 #fff;

        display: flex;
        justify-content: flex-end;

        .octo-btn {
            margin: 0 4px;
        }
    }
}

